body {
    margin: 0;
    padding: 0;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameboard {
    border: 1px solid red;
    background-color: cyan;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
}

.gameboard>div {
    background-color: gray;
    padding: 10px;
    text-align: center;
}

.player-scores {
    background-color: green;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}